{% extends 'main.html' %}

{% block content %}
    <main>
        <div class="text-center">
            <h3>Materials</h3>
        </div>

        {% if user.is_authenticated %}
            <div class="me-auto">
                <a class="btn btn-info" href="{% url 'materials-create' %}">Create Material</a>
            </div>
        {% endif %}

        
        {% if object_list %}
            <table class="table table-hover mt-2">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">No</th>
                        <th class="text-center" scope="col">Name</th>
                        <th class="text-center" scope="col">Uom</th>
                        <th class="text-center" scope="col">Unit Price</th>
                        <th class="text-center" scope="col" colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for material in object_list  %}
                        <tr class='clickable-row' data-href="{% url 'materials-detail' material.id %}">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ material.name }}</td>
                            <td>{{ material.uom }}</td>
                            <td><span class="text-left">Rp.</span><span class="text-right">{{ material.unit_price }}</span></td>
                            <td class="text-center"><a class="btn btn-info" href="{% url 'materials-detail' material.id %}">Detail</a></td>
                            <td class="text-center"><a class="btn btn-warning" href="{% url 'materials-update' material.id %}">Update</a></td>
                            <td class="text-center"><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteMaterial-{{ material.id }}">Delete</button></td>
                        </tr>

                        <div class="modal fade" id="deleteMaterial-{{ material.id }}" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete Material</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you want to delete this {{ material.name }}?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{% url 'materials-delete' material.id %}" method="post">
                                            {% csrf_token %}
                
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="text-center mt-5">
                <h1>Data Not Found</h1>
            </div>
        {% endif %}
    </main>
{% endblock content %}