{% extends 'main.html' %}

{% load widget_tweaks %}

{% block content %}
    <main>
        <div class="d-flex justify-content-center">
            <form class="w-75 center" action="" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Update Material</legend>
                    <div class="form-group has-danger">
                        <label for="" class="form-label mt-4">Material Name</label>
                        {% render_field form.name class+="form-control" %}
                        {% if form.name.errors %}
                            {% for error in form.name.errors %}
                                <div class="mt-2 text-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label mt-4">Description</label>
                        {% render_field form.description type="text" class+="form-control" rows="20" %}
                        {% if form.description.errors %}
                            {% for error in form.description.errors %}
                                <div class="mt-2 text-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label mt-4">Unit Of Measurement</label>
                        {% render_field form.uom type="text" class+="form-control" %}
                        {% if form.uom.errors %}
                            {% for error in form.uom.errors %}
                                <div class="mt-2 text-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label mt-4">Unit Price</label>
                        {% render_field form.unit_price type="number" class+="form-control" value="0.0" %}
                        {% if form.unit_price.errors %}
                            {% for error in form.unit_price.errors %}
                                <div class="mt-2 text-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
{% endblock content %}